<launch>
  <!-- Play the ROS bag file -->

    <!-- Launch rqt dashboard -->
  <node name="my_rqt_dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen"
    args="--perspective-file $(find fast_dynamic)/launch/motion_compensate.perspective"/>
  
  <!-- -s 24.8 /home/x-yq/catkin_ws/bags/dynamic_6dof.bag -->
  <!-- -s 0. /home/x-yq/catkin_ws/bags/IROS_Dataset/what_is_background/background.bag -->
  <!-- -s 1.05 /home/x-yq/catkin_ws/bags/event_detector/test_vins.bag -->
  <!-- -s 0. /home/x-yq/catkin_ws/bags/slider_depth.bag -->
  <!-- -s 0. /home/x-yq/catkin_ws/bags/simulation_3planes.bag-->
  <node pkg="rosbag" type="play" name="player" respawn="false"
  args="-r 0.1 -d 1.0 -s 1.05 /home/x-yq/catkin_ws/bags/event_detector/test_vins.bag"/>

  <!-- Publish PointStamped from PointStampedArray -->
  <node pkg="fast_dynamic" type="fast_dynamic" name="motion_compensate" output="screen" respawn="false">
    <param name="num_events_map_update" value="300000" />
    <param name="contrast_ind" value="NORM"/>
    <!-- NORM:norm  VAR: variance  MAG: magnitude -->
    <param name="optimize_image_type" value="TimeMap"/>
    <!-- TimeMap or EventCount -->
    <param name="bag_ind" value="test_vins"/>
    <!-- 0:slider_depth  1:slider_far 2:what_is_background 3:test_vins  4:simulation_3planes  -->

    <param name="lr_x" value="100." />
    <param name="lr_y" value="100." />
    <param name="lr_div" value="0.0001" />
    <param name="lr_rot" value="0.0001" />
    <param name="tm_max_iter" value="5000" />
    <param name="filter_threshold" value="0.3" />
    
    <param name="depth_y_bin_num" value="45" />
    <param name="depth_x_bin_num" value="60" />

    <param name="use_adam" value="false"/>
    <param name="enable_undistort" value="false"/>
    <param name="filter_small_compo" value="true"/>
    <param name="plot_hist" value="true"/>
    <param name="better_initial" value="false"/>
    <param name="random_initial" value = "false"/>
    <param name="enable_depth" value="false"/>
    <param name="bag_args" value="-r 0.1 -d 1.0 -s 0. /home/x-yq/catkin_ws/bags/simulation_3planes.bag"/>

    <remap from="events" to="/dvs/events" />
    <remap from="event_image" to="event_image" />
    <remap from="depth_image" to="/dvs/depthmap" />
    <!-- <remap from="depth_image" to="/camera/depth/image_rect_raw" /> -->
    <!-- <remap from="imu_data" to="/mavros/imu/data" /> -->

  </node>

  <!-- Render events and frames -->
  <node name="dvs_displayer_one" pkg="dvs_displayer" type="dvs_displayer" output="screen" respawn="false">
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="/dvs/events" />
    <remap from="event_image" to="event_image" />
  </node>

</launch>